@charset "utf-8";
.web{
    background: #f7f8f8;
}
/*----------网站导航栏-------------*/
.site_nav{
    z-index: 99;
    position:relative;
    width:auto;
    height:30px;
    background:#f7f9f8;
}
.site_nav s{
    position:absolute;
    top:13px;
    right:8px;
    width:8px;
    height:4px;
    margin-left:5px;
    background: url(../img/header-img.png) no-repeat 0 0;
    transition:transform .2s ease-in 0s;
    -webkit-transition:-webkit-transform .2s ease-in 0s;
}
.site_nav .current s{
    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);/*IE下支持的图片旋转滤镜*/
    background: url(../img/header-img.png) no-repeat -13px 0 \9;    /*-\9-是IE8浏览器的hack写法，其他浏览器会忽略这条语句*/
}
/*------左-----*/
.site_nav .fl li{
    float:left;/*设置了浮动在一行显示？ ul、li都是块级元素，原本应该从上往下排列，设置了浮动则依次从左向右排列*/
    line-height:30px;
    margin-right:10px;
}
.site_nav .city {
    position:relative;
    color:#008842;
}
.site_nav .city-sz {
    float:left;
    height:16px;
    line-height:16px;
    margin:7px 0;
    cursor: pointer;
}
.site_nav .city-sz i{
    width: 12px;
    height: 16px;
    margin-right:5px;
    background: url(../img/header-img.png) no-repeat left top;
}
.site_nav .city-tit{
    float:left;
    _overflow:hidden;/*做兼容？*/
    _height:20px;
}
.site_nav .city-name{
    z-index: 100;
    position: relative;
    display:block;
    float:left;
    height: 20px;
    line-height:20px;
    margin-top:5px;
    padding:0 20px 5px 5px;
    _height: 16px;
    _line-height:16px;
    _padding:2px 20px 5px 10px;
    color:#008842;
    cursor: pointer;
}
.site_nav .city-name s{ top:9px;}
.site_nav .city-con {
    display: none;
    position: absolute;
    top: 28px;
    left: 0;
    width: 482px;
    border: 2px solid #007f4d;
    background: #fff;
}
.site_nav .city-con .headline{
    padding:0 15px;
    line-height:30px;
    color:#727272;
    background:#ededed;
}
.site_nav .city-con .headline a{
    float:right;
    color:#008842;
    font-family:simsun;/*新宋体*/
}
.site_nav .city-con .headline a:hover{ text-decoration:underline;}
.site_nav .city-hot {
    overflow:hidden;
    margin:10px 15px;
    line-height:18px;
}
.site_nav .city-hot span{
    display:block;
    margin-bottom:5px;
    font-weight:bold;
    color:#666;
}
.site_nav .city-hot i{
    width:16px;
    height:16px;
    margin-right:5px;
    background: url(../img/header-img.png) no-repeat left top;
    background-position: -174px 0;
}
.site_nav .city-hot a{padding:3px 10px 3px 15px;}/*上下padding为什么生效了？*/
/*********/
.site_nav .city-hot-tab{ position:relative; display:block; margin:5px 15px; padding:5px 10px; background:#f5f5f5;}
.site_nav .city-hot-tab .arrow{ position:absolute; top:-6px; left:99px; display:block; width:8px; height:6px; background:url(../img/header-img.png) no-repeat left top; background-position: 0 -8px;}
.site_nav .city-hot-tab a{ width:auto; margin: 0 5px;}
.site_nav .city-hot-tab a:hover{ text-decoration:underline;}
/*********/
.site_nav .citytab{
    margin:10px 0;
    padding:0 15px;
}
.site_nav .citytab span{
    display: inline-block;
    width: 19%;
    border:1px solid #fff;
    border-bottom-color: #e0e0e0;
    text-align: center;
    cursor:pointer;
}
.site_nav .citytab .active{
    position: relative;
    border-color:#e0e0e0;
    border-bottom-color: #fff;
}
.site_nav .city-con .citylist{
    display:none;
    margin: 0 15px 15px;
}
.site_nav .city-con dl{
    display:block;
    overflow:hidden;
    zoom:1;
    line-height:22px;
}
.site_nav .city-con dt{
    font:bold 12px/22px Arial,"Microsoft YaHei"; /* 12px/22px  为font-size/line-height缩写*/
    color:#008842;
    float:left;
    margin-right:10px;
    text-align:center;
}
.site_nav .city-con dd{
    overflow:hidden;
    zoom:1;
}
.site_nav .city-con .border{border-right:1px solid #e0e0e0}
.site_nav .city-con a{
    color:#727272;
    margin:0 5px;
    float:left;
    display:inline-block;
    white-space:nowrap;
}
.site_nav .citylist a{
    float:inherit;
    width:18%;
    margin:0 0 0 5px;
}
.site_nav .citylist .hot{
    color:#008842;
    font-weight:bold;
}
.site_nav .citylist a:hover{
    text-decoration:none;
    color:#008842;
}
.site_nav .citylist.active{display:block;}
.site_nav .citylist .citylist-tab{
    position:relative;
    display:block;
    margin:5px 0;
    padding:5px 10px;
    background:#f5f5f5;
}
/*********/
.site_nav .citylist .citylist-tab .arrow{ position:absolute; top:-6px; left:12px; display:block; width:8px; height:6px; background:url(../img/header-img.png) no-repeat left top; background-position: 0 -8px;}
.site_nav .citylist .citylist-tab a{ width:auto; margin: 0 5px;}
.site_nav .citylist .citylist-tab a:hover{ text-decoration:underline;}
/*********/
.site_nav .current .city-name{
    background:#008842;
    color:#fff;
}
.site_nav .current .city-con{ display:block;}
.site_nav .current .city-name s{background: url(../img/header-img.png) no-repeat -25px 0;}
/*-------------*/
/*------右-----*/
.site_nav .fr li{
    position:relative;
    float:right;
    line-height:30px;
    padding:0 10px;
    text-align:center;
}
.site_nav .fr i{
    width:18px;
    height:18px;
    margin-right:5px;
    background: url(../img/header-img.png) no-repeat left top;
}
.site_nav .fr .tit{
    _float:left;
    _overflow:hidden;
    _height: 30px;
}
.site_nav .fr .tit a{
    display:block;
    float:left;
    height: 30px;
    line-height:30px;
    padding:0 20px 0 10px;
    _height: 16px;
    _line-height:16px;
    _padding:7px 20px 7px 10px;
    cursor: pointer;
    z-index: 100;
    border: solid #f7f9f8;
    border-width: 0 1px;
    position: relative;
}
.site_nav .fr .con{
    display:none;
    position:absolute;
    top:30px;
    left:0;
    border: 1px solid #b4c1a3;
    background:#fff;
}
.site_nav .fr .current .con{ display:block;}
.site_nav .fr .current .tit a{
    border-color:#b4c1a3;
    background:#fff;
    padding-bottom:1px;
    padding-bottom:1px;
    _padding:6px 20px 7px 10px;
}

.site_nav .fr .myyiguo,.site_nav .fr .mobile{ padding:0;}
.site_nav .myyiguo .tit i{ background-position: -40px 0;}
.site_nav .myyiguo .con{
    width:100px;
    padding:5px 12px;
    text-align:left;
}
.site_nav .myyiguo .con a{
    display:block;
    line-height:25px;
    color:#727272;
}
.site_nav .myyiguo .con b{
    margin-left:10px;
    padding: 0 5px;
    color: #fff;
    background: #008842;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}
.site_nav .myyiguo .con a:hover{ color: #008842;}

.site_nav .mobile .tit i{ background-position: -64px 0;}
.site_nav .mobile .con{
    width:125px;
    padding:10px;
    line-height:25px;
}
.site_nav .mobile .item{ margin:5px 0;}
.site_nav .mobile .item img{ display:block;}

.site_nav .business i{ background-position: -86px 0;}
.site_nav .business{
    _height: 16px !important;
    _padding:7px 5px !important;
}
.site_nav .pay i{
    width:22px;
    background-position: -147px 0;
}
.site_nav .pay{
    _height: 16px !important;
    _padding:7px 5px !important;
}
.site_nav .TEL i{ background-position: -86px 0;}
.site_nav .TEL, .site_nav .language {
    _height: 16px !important;
    _padding:7px 5px !important;
}
/*-------------*/
/*-------------------------------*/
/*-------------头部-------------*/
.header{
    width: auto;
    background: #e0e0e0;
}
.header .wrapper {
    height: 58px;
    padding: 15px 0 5px 0;
}
.logo{
    float: left;
    width: 280px;
    margin-right: 10px;
}
.logo a{
    display: block;
    width: 145px;
    height: 50px;
    background: url("../img/logo.png") no-repeat top left;
}
/*---搜索框---*/
.search{
    float: left;
    width: 528px;
}
.search .search_bar .search_input{
    float: left;
    width: 425px;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    border: 1px solid #008842;
    background: #e0e0e0;
}
.search .search_bar .search_btn{
    float: left;
    display: block;
    width: 81px;
    height: 28px;
    line-height: 28px;
    padding: 0;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    background: #008842;
}
.search .search_keyword{
    height: 30px;
}
.search .search_keyword ul{
    line-height: 30px;
}
.search .search_keyword ul li{
    display: inline;
    margin-right: 5px;
}
.search .search_keyword ul li a{
    color: #727272;
}
.search .search_keyword ul li a:hover{
    color: #008842;
}
/*------------*/
/*---购物车---*/
.shopping_cart{
    z-index: 88;
    float: right;
    position: relative;
}
.shopping_cart .shopping_btn{
    width: 170px;
    height: 28px;
    padding: 6px 0;
    line-height: 28px;
    text-align: center;
    font-size: 25px;
    border: 1px solid #008842;
    background: #fff;
    cursor: pointer;
}
.shopping_btn a{
    display: block;
    color: #008842;
}
.shopping_btn .totalNum{
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 20px;
    margin-right: 10px;
    font-size: 12px;
    padding: 0;
    background: url("../img/header-img.png") no-repeat -112px 0;
}
.shopping_btn .totalNum b {
    display: block;
    width: 24px;
    line-height: 12px;
    margin-right: 4px;
    text-align: center;
}
.shopping_btn .totalPrice {
    font-weight: normal;
    font-family: Arial, "Microsoft YaHei";
}
/*------------*/
/*已购商品列表*/
.shopping_list{
    z-index:88;
    display:none;
    position:absolute;
    top:41px;
    right:0;
    width:380px;
    padding:10px;
    background:#fff;
    border:1px solid #007f4d;
}
.shopping_list p{
    width:380px;
    height:28px;
    line-height:28px;
    color:#008842;
    margin:-10px 0 0 -10px;
    padding:0 10px;
    background:#ededed;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.shopping_list ul{
    display: block;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    width:380px;
    max-height:264px;
    _height:275px;
    margin:10px 0 0 0;
    padding: 0px;
}
.shopping_list li{
    position:relative;
    overflow:hidden;
    zoom:1;
    background:#fff;
    height:45px;
    padding:0 0 15px 0;
    line-height:20px;
}
.shopping_list li .l{
    float:left;
    margin-right:5px;
    width:45px;
    height:45px;
}
.shopping_list li .c{
    float:left;
    width:222px;
}
.shopping_list li .c a{
    display:block;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.shopping_list li .c a:hover{
    display:block;
    color:#008842
}
.shopping_list li .c b{
    display:block;
    font-weight:normal;
    color:#888;
}
.shopping_list li .r{
    float:left;
    text-align:right;
    width:90px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.shopping_list li .r b{
    color:#e7380d;
    font-weight:bold;
}
.shopping_list li .r a{
    display:block;
    color:#888;
}
.shopping_list li .r a:hover{ color:#008842;}
.shopping_list .price_total{
    font-size:12px;
    line-height:27px;
    margin-top:5px;
    padding-top:10px;
    text-align:right;
    border-top:1px solid #dcdcdc;
}
.shopping_list .price_total b{
    color:#e7380d;
    font-size:16px;
    margin:0 5px
}
.shopping_list .price_total span{ margin-left:15px;}
.shopping_list .settleup{display:inline-block; width:75px; height:27px; font-size:12px; text-align:center; color:#fff; background:#008842;;}
.shopping_list .nogoods{ width:380px; height:120px; line-height:120px; text-align:center; background:url(../img/none_bg.jpg) no-repeat center #fff;}
.shopping-cart-cur .cart_txt{ background-position: 0 -63px; }
.shopping-cart-cur .shopping_list{ display:block;}
/*------------*/
/*--to fixed--*/
.header_fixed{
    z-index: 100;
    display: block;
    position: fixed;
    _position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:46px;
    height:60px\9;
    background:url(../img/header_fixed_bg.png) repeat;
}
.header_fixed .wrapper{
    height:36px;
    height:50px\9;
    padding:5px 0;
}
.header_fixed .logo{margin-right:0px;}
.header_fixed .logo a {
    height: 36px;
    height:50px\9;
    background-size: auto 100%;
}
.header_fixed .search{
    width:770px;
    margin-top:3px;
    padding-top:5px\9;
}
.header_fixed .search_bar{ float:left;}
.header_fixed .search .search_keyword{
    overflow:hidden;
    float:left;
    width: 230px;
    height:28px;
    margin-left: 10px;
}
.header_fixed .shopping_cart{ padding-top:5px\9;}
.header_fixed .shopping_btn{
    width:140px;
    padding:2px 0;
    font-size:20px;
}
.header_fixed .shopping_list{ top:33px;}
/*------------*/
/*-------------------------------*/
/*---------商品类别导航栏--------*/
.header_nav{
    z-index:77;
    position:relative;
}

.catalogs{
    float:left;
    position:relative;
}
.catalogs_title{
    width:180px;
    height:38px;
    position:relative;
    text-align:center;
    background:#008842;
    cursor:pointer;
}
.catalogs_title span{
    overflow:hidden;
    font: bold 15px/16px "Microsoft YaHei";
    color:#fff;
    display:block;
    height:16px;
    padding:11px 0;
}

.catalogs_list{
    position:absolute;
    height:462px;
    background: rgba(255, 255, 255, 0.9);
    background:#fff \9;
}
.catalogs_list .item{}
.catalogs_list h3 a{
    overflow:hidden;
    position:relative;
    display:block;
    width:165px;
    height:24px;
    padding:9px 0 9px 15px;
    font:normal 14px/24px "Microsoft YaHei";
    background:#fff \9;
}
.catalogs_list h3 a i{
    overflow:hidden;
    display:inline-block;
    width:24px;
    height:24px;
    margin-right:15px;
    background:url(../img/nav-icon.png) no-repeat 0px 0px;
}
.catalogs_list .t01_channelhome a i{ background-position: 0 0;}
.catalogs_list .t02_channelhome a i{ background-position: -24px 0;}
.catalogs_list .t03_channelhome a i{ background-position: -144px 0;}
.catalogs_list .t04_channelhome a i{ background-position: -96px 0;}
.catalogs_list .t05_channelhome a i{ background-position: -48px 0;}
.catalogs_list .t06_channelhome a i{ background-position: -72px 0;}
.catalogs_list .t07_channelhome a i{ background-position: -192px 0;}
.catalogs_list .t08_channelhome a i{ background-position: -120px 0;}
.catalogs_list .t09_channelhome a i{ background-position: -216px 0;}
.catalogs_list .t10_channelhome a i{ background-position: -168px 0;}
.catalogs_list .t11_channelhome a i{ background-position: -240px 0;}
.catalogs_list h3 a span{
    overflow:hidden;
    display:inline-block;
}
.catalogs_list h3 s{
    display:none;
    position:absolute;
    top:7px;
    right:18px;
    font-family:Arial;
    text-decoration:none;
}
/*----子列表---*/
.catalogs_list .sub_item{
    z-index:3;
    display:none;
    position:absolute;
    top:-38px;
    left:180px;
    width:215px;
    height:464px;
    padding:17px 20px;
    border:1px solid #bbb;
    background: rgba(255, 255, 255, 0.9);
    background:#fff \9;
}
.catalogs_list h4{
    margin-bottom:10px;
    font:normal 18px "Microsoft YaHei";
    text-decoration:underline;
}
.catalogs_list h4 a{ color:#20985a;}
.catalogs_list .sub_list{}
.catalogs_list .sub_list a{
    display:inline-block;
    line-height:25px;
    margin-right:30px;
    color:#686868;
}
.catalogs_list .sub_list a:hover{ color:#008842;}
.catalogs_list .sub_list .hot{ color:#319ec3}
.catalogs_list .catalogs_ad {position:absolute; bottom:10px;}
.catalogs_list .current h3 a{
    z-index:78;
    padding:8px 0 8px 15px;
    background: rgba(255, 255, 255, 0.95);
    background:#fff \9;
    border:1px solid #bbb;
    border-right:0px;
}
.catalogs_list .current h3 i{
    margin-left:7px;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;}
.catalogs_list .current h3 s{ display:block;}
/*------------*/
/*-------------------------------*/
/*-----------轮播图-------------*/
.banner-slider { overflow:hidden; position: relative; width:100%; height: 500px;top:-43px;}
.banner-slider .b-slider{ width:100% !important; margin:0 auto;}
.banner-slider .b-slider li{ overflow:hidden; width:100% !important; height: 500px; background-position:center !important; background-repeat:no-repeat !important;}
.banner-slider .b-slider li a{ display:block; width:100%; height:100%;}
.banner-slider .slider-wrap{ z-index:1; position: relative; width:1200px; margin:0 auto; }
.banner-slider .banner-text{position:absolute; top:0; right:0; opacity: 0;}
.banner-slider .current .banner-text{opacity: 1;
    -webkit-transition: opacity 1.5s linear;
    -moz-transition: opacity 1.5s linear;
    -o-transition: opacity 1.5s linear;
    transition: opacity 1.5s linear;}
.banner-slider .banner-main{ width:100%; height:500px; margin:0 auto; background-position:center !important; background-repeat:no-repeat !important;
    -webkit-transition: -webkit-transform 3.5s linear;
    -moz-transition: -moz-transform 3.5s linear;
    -o-transition: -o-transform 3.5s linear;
    transition: transform 3.5s linear;
    -webkit-transform: scaleX(1.1) scaleY(1.1);
    -moz-transform: scaleX(1.1) scaleY(1.1);
    -ms-transform: scaleX(1.1) scaleY(1.1);
    -o-transform: scaleX(1.1) scaleY(1.1);
    transform: scaleX(1.1) scaleY(1.1)}
.banner-slider .current .banner-main{
    -webkit-transform: scaleX(1) scaleY(1);
    -moz-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);}
.banner-slider .b-btn{ zoom:1; z-index:4; }
.banner-slider .b-btn a{ display: none; width: 40px; height: 100px; background: url(../img/slider-btn.png) no-repeat; position: absolute; top:50%; margin-top:-50px;}
.banner-slider .b-btn .prev { left: 0; background-position:top left}
.banner-slider .b-btn .next { right: 0; background-position:top right }
.banner-slider .b-dot { position: absolute; bottom:12px; left:50%; height: 12px; zoom:1; z-index:3 }
.banner-slider .b-dot li { overflow:hidden; float: left;  width: 12px; height: 12px; line-height: 10px; color:#b5b2a8; background: #b5b2a8; margin:0 5px; border-radius:50%; cursor:pointer; text-indent:100000000px;}
.banner-slider .b-dot li.on { color:#5aaa16; background: #5aaa16; }
/*-------------------------------*/
/*---------商品展示层-----------*/
.floor{
    clear:both;
    position:relative;
    margin-top:18px;
}
.floor_title{
    position:relative;
    height:32px;
    line-height:32px;
    margin-bottom:5px;
}
.floor_title h2{
    float:left;
    height:32px;
    font: bold 18px "Microsoft YaHei";
}
.floor_title h2 a{
    color:#646464;
}
.floor_title i{
    display:inline-block;
    width:31px;
    height:18px;
    margin-right:10px;
    padding: 10px 7px 4px 7px;
    color:#fff; font: bold 14px "Microsoft YaHei";
    vertical-align:text-bottom;
    background:url(../img/floor_tit_icon.png) no-repeat left top;
}
.floor_title .keyword{
    float:right;
}
.floor_title .keyword a{
    color:#4e4e4e;
}
.floor_title .keyword a:hover{
    text-decoration:underline;
}
.floor_title .keyword a:after{
    content: "|"; padding:0 7px;
}
.floor_title .keyword a.last:after{
    content: "";
    padding:0;
}
.floor_side{
    float:left;
    width:275px;
    height:462px;
}
.floor_main{
    position:relative;
    float:left;
    background:#fff;
}
.floor_main a{
    display: block;
    -webkit-transition: -webkit-transform .2s linear;
    -moz-transition: -moz-transform .2s linear;
    -o-transition: -o-transform .2s linear;
    transition: transform .2s linear
    /*图片大小略小于容器大小*/
    /*-webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;*/
}
.floor_main a:hover {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px)
}

.floor_layout2 .floor_main{
    width:924px;
    height:462px;
    border-top:1px solid #d5d5d5;
    border-left:1px solid #d5d5d5
}
.floor_layout2 li{
    float:left;
    overflow:hidden;
    width:230px;
    height:230px;
    border-right: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}
.floor_layout2 .wide{
    width:461px;
}

.floor_layout3 .floor_main{
    width:923px;
    height:461px;
    border:1px solid #d5d5d5;
}
.floor_layout3 .col1,.floor_layout3 .col2,.floor_layout3 .col3{
    float:left;
    overflow:hidden;
}
.floor_layout3 .col1{
    width:234px;
    height:383px;
    border-right: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}
.floor_layout3 .col2{
    width:442px;
}
.floor_layout3 .col3{
    width:246px;
    height:461px;
}
.floor_layout3 li{
    float:left;
    overflow:hidden;
    height:191px;
    border-right: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    background:#fff;
}
.floor_layout3 .wide{
    width:441px;
}
.floor_layout3 .narrow{
    width:220px;
}
.floor_layout3 .logo_list{
    overflow:hidden;
    position:absolute;
    left:0;
    bottom:0;
    width:654px;
    height:55px;
    padding:11px;
    _padding:10px 11px;
    border-right: 1px solid #d5d5d5;
    background:#fff;
}
.floor_layout3 .logo_list a{
    float:left;
    margin:0 14px;
    _margin:0 13px;
}
/*-------------------------------*/
/*-----------尾部----------------*/
.footer_service{
    background:#e0e0e0;
    margin-top:50px;
    padding:30px 0;
}
.footer_service li{
    float:left;
    width:190px;
    height:42px;
    margin-left:55px;
    _margin-left:44px;
    padding-left:55px;
    background:url(../img/footer_service_icon.png) no-repeat left top;
}
.footer_service .s1{ background-position:0 0;}
.footer_service .s2{ background-position:0 -42px;}
.footer_service .s3{ background-position:0 -84px;}
.footer_service .s4{ background-position:0 -126px;}
.footer_service li b{
    display:block;
    padding-left:15px;
    color:#007f4d;
    font: normal 18px/25px "Microsoft YaHei";
    border-left:1px solid #a6a6a6;
}
.footer_service li span{
    display:block;
    padding-left:15px;
    border-left:1px solid #a6a6a6
}

.footer{
    zoom: 1;
    clear: both;
    position: relative;
    padding-bottom:20px;
    border-top:1px solid #e0e0e0
}
.footer .wrapper{margin:50px auto 0;}
.footer dl{
    width:190px;
    float:left;
    margin-left:50px;
    display:inline;
}
.footer dl dt{
    height:23px;
    line-height:23px;
    background:url(../img/footer_icon.png) no-repeat;
    font-size:14px;
    text-indent:40px;
}
.footer .col1 dt{background-position:0 0;}
.footer .col2 dt{background-position:0 -23px;}
.footer .col3 dt{background-position:0 -46px;}
.footer .col4 dt{background-position:0 -69px;}
.footer .col5 dt{background-position:0 -92px;}
.footer dl dd{
    border-left:1px dashed #A8A8A8;
    padding-left:20px;
    height:110px;
    min-height:110px;
    margin:15px 0 0 13px;
}
.footer dl dd a{
    color:#575556;
    line-height:22px;
}
.footer dl dd a:hover{
    text-decoration:underline;
    color:#008842;
}
.footer .service{
    clear:both;
    text-align:center;
    padding:60px 0 20px;
    color:#008842;
    font-size:14px;
}
.footer .service span{
    display:inline-block;
    padding:0 10px;
}
.footer .copyright{
    clear:both;
    color:#717171;
    text-align:center;
    line-height:22px;
}
.footer .copyright a{color:#717171;}
.footer .copyright a:hover{color:#008842;}
.footer .authentication a{
    display:inline-block;
    position: relative;
    margin:0 10px; zoom: 1;
    vertical-align:middle
}
/*-------------------------------*/